.TodoCounter-h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    color: rgba(240, 255, 240, 0.671);
    opacity: 80%;
    margin-bottom: 100px;
    margin-top: 3.2rem;
    margin-right: 53.4rem;
    
    
}
@media(max-width: 720px ){
    .TodoCounter{
        display: flex;
        
    }
}
